<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303209116814-s5vi09oq9qcfvn9hh2kek087s9hoduae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303209116814-s5vi09oq9qcfvn9hh2kek087s9hoduae</string>
	<key>API_KEY</key>
	<string>AIzaSyAeNjVmEDsU5BirIb1GrhtzNE-rM_IkGrI</string>
	<key>GCM_SENDER_ID</key>
	<string>303209116814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.DrivingSchoolFrontEnd</string>
	<key>PROJECT_ID</key>
	<string>drivingschoolbelgium</string>
	<key>STORAGE_BUCKET</key>
	<string>drivingschoolbelgium.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303209116814:ios:5b8e991675bf4071d6c5df</string>
</dict>
</plist>