--
-- PostgreSQL database dump
--

-- Dumped from database version 15.1
-- Dumped by pg_dump version 15.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: QuestionUser; Type: TABLE; Schema: public; Owner: DriverSchoolUser
--

CREATE TABLE public."QuestionUser" (
    "SavedQuestionsId" integer NOT NULL,
    "UsersId" integer NOT NULL
);


ALTER TABLE public."QuestionUser" OWNER TO "DriverSchoolUser";

--
-- Name: Questions; Type: TABLE; Schema: public; Owner: DriverSchoolUser
--

CREATE TABLE public."Questions" (
    "Id" integer NOT NULL,
    "Title" text NOT NULL,
    "Text" text NOT NULL,
    "Answers" text[] NOT NULL,
    "AnswerIndex" integer NOT NULL,
    "Themes" text[],
    "ImageUri" text NOT NULL,
    "CreationDate" timestamp with time zone NOT NULL,
    "Explanation" text,
    "IsSerious" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Questions" OWNER TO "DriverSchoolUser";

--
-- Name: Questions_Id_seq; Type: SEQUENCE; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE public."Questions" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Questions_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: QuizSummaries; Type: TABLE; Schema: public; Owner: DriverSchoolUser
--

CREATE TABLE public."QuizSummaries" (
    "Id" integer NOT NULL,
    "Score" integer NOT NULL,
    "isSuccess" boolean NOT NULL,
    "CreationDate" timestamp with time zone NOT NULL,
    "UserId" integer DEFAULT 2 NOT NULL
);


ALTER TABLE public."QuizSummaries" OWNER TO "DriverSchoolUser";

--
-- Name: QuizSummaries_Id_seq; Type: SEQUENCE; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE public."QuizSummaries" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."QuizSummaries_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: QuizzSummaryElement; Type: TABLE; Schema: public; Owner: DriverSchoolUser
--

CREATE TABLE public."QuizzSummaryElement" (
    "Id" integer NOT NULL,
    "UserAnswerIndex" integer NOT NULL,
    "QuizzSummaryId" integer,
    "IsAnswerCorrect" boolean NOT NULL,
    "QuestionId" integer NOT NULL,
    "CreationDate" timestamp with time zone NOT NULL
);


ALTER TABLE public."QuizzSummaryElement" OWNER TO "DriverSchoolUser";

--
-- Name: QuizzSummaryElement_Id_seq; Type: SEQUENCE; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE public."QuizzSummaryElement" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."QuizzSummaryElement_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Users; Type: TABLE; Schema: public; Owner: DriverSchoolUser
--

CREATE TABLE public."Users" (
    "Id" integer NOT NULL,
    "Email" text NOT NULL,
    "UserName" text NOT NULL,
    "CreationDate" timestamp with time zone NOT NULL
);


ALTER TABLE public."Users" OWNER TO "DriverSchoolUser";

--
-- Name: Users_Id_seq; Type: SEQUENCE; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE public."Users" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Users_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: DriverSchoolUser
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO "DriverSchoolUser";

--
-- Data for Name: QuestionUser; Type: TABLE DATA; Schema: public; Owner: DriverSchoolUser
--

COPY public."QuestionUser" ("SavedQuestionsId", "UsersId") FROM stdin;
7	2
19	2
39	1
13	1
1	1
42	2
\.


--
-- Data for Name: Questions; Type: TABLE DATA; Schema: public; Owner: DriverSchoolUser
--



--
-- Data for Name: QuizSummaries; Type: TABLE DATA; Schema: public; Owner: DriverSchoolUser
--



--
-- Data for Name: QuizzSummaryElement; Type: TABLE DATA; Schema: public; Owner: DriverSchoolUser
--



--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: DriverSchoolUser
--

COPY public."Users" ("Id", "Email", "UserName", "CreationDate") FROM stdin;
1	shadycodebe@gmail.com	Shady	2024-02-02 10:46:45.777522-08
2	laurent.kl1996@gmail.com	Laurent	2024-02-03 14:31:19.067544-08
3	klnlili2704@gmail.com	Mey	2024-02-03 16:35:30.404473-08
4	shadyreplays@gmail.com	Klein	2024-02-04 13:31:22.717779-08
5	nathannorth2005@gmail.com	Nathan	2024-02-04 14:03:24.960065-08
6	ps4schynts@gmail.com	Schynts	2024-02-05 04:42:32.198372-08
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: DriverSchoolUser
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20231215215708_Init	8.0.0
20231217110341_AddExplanationToQuestion	8.0.0
20231217190701_AddSavedQuestionsAndRenameExplanation	8.0.0
20231217193242_Migration1	8.0.0
20231217193433_Migration2	8.0.0
20231217194640_Migration3	8.0.0
20240105084908_AddIsSeriousToQuestion	8.0.0
20240204161247_AddUserToQuizSummaryRelationShip	8.0.0
\.


--
-- Name: Questions_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: DriverSchoolUser
--

SELECT pg_catalog.setval('public."Questions_Id_seq"', 80, true);


--
-- Name: QuizSummaries_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: DriverSchoolUser
--

SELECT pg_catalog.setval('public."QuizSummaries_Id_seq"', 41, true);


--
-- Name: QuizzSummaryElement_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: DriverSchoolUser
--

SELECT pg_catalog.setval('public."QuizzSummaryElement_Id_seq"', 2001, true);


--
-- Name: Users_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: DriverSchoolUser
--

SELECT pg_catalog.setval('public."Users_Id_seq"', 6, true);


--
-- Name: QuestionUser PK_QuestionUser; Type: CONSTRAINT; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE ONLY public."QuestionUser"
    ADD CONSTRAINT "PK_QuestionUser" PRIMARY KEY ("SavedQuestionsId", "UsersId");


--
-- Name: Questions PK_Questions; Type: CONSTRAINT; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE ONLY public."Questions"
    ADD CONSTRAINT "PK_Questions" PRIMARY KEY ("Id");


--
-- Name: QuizSummaries PK_QuizSummaries; Type: CONSTRAINT; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE ONLY public."QuizSummaries"
    ADD CONSTRAINT "PK_QuizSummaries" PRIMARY KEY ("Id");


--
-- Name: QuizzSummaryElement PK_QuizzSummaryElement; Type: CONSTRAINT; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE ONLY public."QuizzSummaryElement"
    ADD CONSTRAINT "PK_QuizzSummaryElement" PRIMARY KEY ("Id");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_QuestionUser_UsersId; Type: INDEX; Schema: public; Owner: DriverSchoolUser
--

CREATE INDEX "IX_QuestionUser_UsersId" ON public."QuestionUser" USING btree ("UsersId");


--
-- Name: IX_QuizSummaries_UserId; Type: INDEX; Schema: public; Owner: DriverSchoolUser
--

CREATE INDEX "IX_QuizSummaries_UserId" ON public."QuizSummaries" USING btree ("UserId");


--
-- Name: IX_QuizzSummaryElement_QuestionId; Type: INDEX; Schema: public; Owner: DriverSchoolUser
--

CREATE INDEX "IX_QuizzSummaryElement_QuestionId" ON public."QuizzSummaryElement" USING btree ("QuestionId");


--
-- Name: IX_QuizzSummaryElement_QuizzSummaryId; Type: INDEX; Schema: public; Owner: DriverSchoolUser
--

CREATE INDEX "IX_QuizzSummaryElement_QuizzSummaryId" ON public."QuizzSummaryElement" USING btree ("QuizzSummaryId");


--
-- Name: QuestionUser FK_QuestionUser_Questions_SavedQuestionsId; Type: FK CONSTRAINT; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE ONLY public."QuestionUser"
    ADD CONSTRAINT "FK_QuestionUser_Questions_SavedQuestionsId" FOREIGN KEY ("SavedQuestionsId") REFERENCES public."Questions"("Id") ON DELETE CASCADE;


--
-- Name: QuestionUser FK_QuestionUser_Users_UsersId; Type: FK CONSTRAINT; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE ONLY public."QuestionUser"
    ADD CONSTRAINT "FK_QuestionUser_Users_UsersId" FOREIGN KEY ("UsersId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: QuizSummaries FK_QuizSummaries_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE ONLY public."QuizSummaries"
    ADD CONSTRAINT "FK_QuizSummaries_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: QuizzSummaryElement FK_QuizzSummaryElement_Questions_QuestionId; Type: FK CONSTRAINT; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE ONLY public."QuizzSummaryElement"
    ADD CONSTRAINT "FK_QuizzSummaryElement_Questions_QuestionId" FOREIGN KEY ("QuestionId") REFERENCES public."Questions"("Id") ON DELETE CASCADE;


--
-- Name: QuizzSummaryElement FK_QuizzSummaryElement_QuizSummaries_QuizzSummaryId; Type: FK CONSTRAINT; Schema: public; Owner: DriverSchoolUser
--

ALTER TABLE ONLY public."QuizzSummaryElement"
    ADD CONSTRAINT "FK_QuizzSummaryElement_QuizSummaries_QuizzSummaryId" FOREIGN KEY ("QuizzSummaryId") REFERENCES public."QuizSummaries"("Id");


--
-- PostgreSQL database dump complete
--

